@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<ContentModels.BlockListParagraph>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<div>
    @Model.Content.Text
</div>