@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<ContentModels.ElementBlock>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<div>
    
    
    @if(Model.Content.Image != null)
    {
        <img src="@Model.Content.Image.Url()" alt="@Model.Content.Image.Name" />
    }
    @if(ViewBag.blockPreview != null)
    {
        <span>IT's a preview</span>
    }
    Partial value : 
     @Model.Content.PartialValue
</div>