<?xml version="1.0" encoding="utf-8"?>
<Media Key="a309d7bc-3c7b-4ad8-80ab-2b9e853a6c45" Alias="Skærmbillede 2024-05-01 134402.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skaermbillede20240501134402png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-20T13:53:33</CreateDate>
    <NodeName Default="Skærmbillede 2024-05-01 134402.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gmof4fis/skaermbillede-2024-05-01-134402.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>