@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.BlockElement>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<div>
    Something something
    @if(Model.Content.Image != null)
    {
        <img src="@Model.Content.Image.Url()" alt="@Model.Content.Image.Name" />
    }
</div>