@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<AreaElement>>

<div>

        @ViewBag.renderGridAreaSlots

        @await Html.GetBlockGridItemAreasHtmlAsync(Model)
    
    
</div>