@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem<NestedList>>

@if(ViewBag.blockPreview != null) {
    
    <div>This is a nested block list<hr /></div>

    foreach(var block in Model.Content?.List)
    {
        <umb-ref-grid-block standalone>
            <span style="margin-right: 20px">@Model.Content.ContentType.Alias</span> <a href="https://localhost:44325/umbraco/section/content/workspace/document/edit/3cf3ec92-687f-4c33-8c0e-89e06a8aacd7/invariant/view/content/modal/umb-modal-workspace/list/invariant/block/edit/umb%3A%2F%2Felement%2F60a913c53d1c44d1832efc1525b294d5/view/content/modal/umb-modal-workspace/list//block/edit/umb%3A%2F%2Felement%2Fe2c40ad3cdc84ba2af4136527dd9bc59/view/content">Edit</a>
        </umb-ref-grid-block>
    }
}
else {
    <div>
        This is a nested block list <hr />
        @await Html.GetBlockListHtmlAsync(Model.Content.List)
    </div>
}
