@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem<Paragraph>>

<div>
    @Model.Content.Text
</div>
<script>
    console.log("hej mor")
</script>