<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd60e99a-0586-42e9-a912-7ec47547dc88" Alias="ContentPage - Grid - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>ContentPage - Grid - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Areas",
      "key": "f957ddb8-c4d1-4ba0-9931-d5babf009c96"
    },
    {
      "name": "Elements",
      "key": "b3afae76-dcc6-458e-bb4d-1e3f0f0322fe"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "65b73923-6bcb-46c4-aa62-95bda6d38b3f",
      "allowAtRoot": true,
      "groupKey": "f957ddb8-c4d1-4ba0-9931-d5babf009c96",
      "areas": [
        {
          "key": "cde7cd73-bbfc-47fb-8b1d-388ea2f3dec7",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "755cb623-0d9d-4e5c-bdb1-75582c4819bb",
          "alias": "area1",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "bfc31bfd-0c56-47ea-b036-7c9b9165a6b1",
      "allowAtRoot": true,
      "groupKey": "b3afae76-dcc6-458e-bb4d-1e3f0f0322fe",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>