<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f95600e1-78d5-48d3-bd1a-abc1f10d3d30" Alias="TestElement -  - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>TestElement -  - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>