<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9736312-c012-426c-b59b-6d979c119f2d" Alias="TestElement -  - Radio Button List Property Editor UI" Level="1">
  <Info>
    <Name>TestElement -  - Radio Button List Property Editor UI</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3",
    "test"
  ]
}]]></Config>
</DataType>