@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>@Model.Name</title>
  </head>
  <body>
    @await Html.GetBlockGridHtmlAsync(Model.Grid)
    <!-- built files will be auto injected -->
  </body>
</html>
<style lang="postcss">
  html, body, .vueapp {
    height: 100%;
  }
  body {
    background: #e6e2ff;
  }
  main {
    margin: auto;
    max-width: 1024px;
    background: white;
    height: 100%;
  }
</style>
