<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4688d14f-0dc2-48ff-a009-c7dde5208a46" Alias="ContentPage - RTE - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>ContentPage - RTE - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bfc31bfd-0c56-47ea-b036-7c9b9165a6b1"
    }
  ],
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>