<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2fb51d1d-a9c3-484b-b25d-ee859d944a7c" Alias="ContentPage - BlocksWithoutViews - Block List Property Editor UI" Level="1">
  <Info>
    <Name>ContentPage - BlocksWithoutViews - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bfc31bfd-0c56-47ea-b036-7c9b9165a6b1"
    },
    {
      "contentElementTypeKey": "bca9fc05-7b62-4ca0-ba8e-1ecb2c577b02"
    }
  ]
}]]></Config>
</DataType>