<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be56374a-71ec-4388-9825-455faddb674f" Alias="TestElement -  - Markdown Editor Property Editor UI" Level="1">
  <Info>
    <Name>TestElement -  - Markdown Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>