<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4541193f-ae7f-41b2-b578-bb7baf8c9cc2" Alias="TestElement -  - Eye Dropper Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>TestElement -  - Eye Dropper Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>