<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b19321bf-cc90-4e41-97d0-7ce608c0bb35" Alias="TestElement -  - Decimal Property Editor UI" Level="1">
  <Info>
    <Name>TestElement -  - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": "0.01"
}]]></Config>
</DataType>