<?xml version="1.0" encoding="utf-8"?>
<DataType Key="448d9c39-ec99-4988-abda-780378ae92c2" Alias="TestElement -  - Email Property Editor UI" Level="1">
  <Info>
    <Name>TestElement -  - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>