@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.HeadlineBlock>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@if(Model.Content.HSize == "h1")
{
    <h1>@Model.Content.Text</h1>
}
@if (Model.Content.HSize == "h2")
{
    <h2>@Model.Content.Text</h2>
}
@if (Model.Content.HSize == "h3")
{
    <h3>@Model.Content.Text</h3>
}

