@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.LazyAccordion>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@foreach(var item in Model.Content.Items) {
    LazyAccordionItem content = (LazyAccordionItem)item.Content;
    <div class="ac_title">@content.Title</div>
    <div class="ac_content">@content.Paragraph</div>
}
<style>
    .ac_title {
        display: block;
        padding: 10px;
        background:#eee;
        border-bottom: 1px solid #aaa;
    }
    .ac_title:hover {
        background: #ddd;
        cursor: pointer;
    }
    
    .ac_content {
        display: none;
        border: 1px solid black;
        border-top: none;
        padding: 10px;
    }
    .ac_content.visible {
        display: block;
    }
</style>
<script>
    document.querySelectorAll('.ac_title').forEach(ac => ac.addEventListener('click', e => {
        e.target.nextElementSibling.classList.toggle('visible')
    }));
</script>

@if (ViewBag.blockPreview != null)
{
    <script>
        document.querySelectorAll('.ac_content').forEach(ac => ac.classList.toggle('visible'));
    </script>
}