<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b9b1bd6-8c08-4678-ae32-280e8b39e97d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-08-20T12:03:37</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7531208a-78a6-416c-afaf-c22188326ca9">main</Template>
  </Info>
  <Properties>
    <block>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bca9fc05-7b62-4ca0-ba8e-1ecb2c577b02",
      "udi": null,
      "key": "ea2825f3-78a5-46bb-8c0f-d36b570a5bd8",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "text",
          "value": "Hejsa"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ea2825f3-78a5-46bb-8c0f-d36b570a5bd8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "ea2825f3-78a5-46bb-8c0f-d36b570a5bd8",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </block>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfc31bfd-0c56-47ea-b036-7c9b9165a6b1",
      "udi": null,
      "key": "d0f2bc7d-3346-4c19-afb1-b597db71e2df",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "textBox",
          "value": "123"
        },
        {
          "editorAlias": "Umbraco.Tags",
          "culture": null,
          "segment": null,
          "alias": "tags",
          "value": "[\u0022Test\u0022,\u0022Test 2\u0022]"
        },
        {
          "editorAlias": "Umbraco.ContentPicker",
          "culture": null,
          "segment": null,
          "alias": "contentPicker",
          "value": "umb://document/6b9b1bd68c084678ae32280e8b39e97d"
        },
        {
          "editorAlias": "Umbraco.Decimal",
          "culture": null,
          "segment": null,
          "alias": "decimal",
          "value": 1.04
        },
        {
          "editorAlias": "Umbraco.EmailAddress",
          "culture": null,
          "segment": null,
          "alias": "email",
          "value": "admin@example.com"
        },
        {
          "editorAlias": "Umbraco.TrueFalse",
          "culture": null,
          "segment": null,
          "alias": "toggle",
          "value": 1
        },
        {
          "editorAlias": "Umbraco.ColorPicker.EyeDropper",
          "culture": null,
          "segment": null,
          "alias": "eyeDrop",
          "value": "#c82828"
        },
        {
          "editorAlias": "Umbraco.MultiUrlPicker",
          "culture": null,
          "segment": null,
          "alias": "multiUrl",
          "value": "[{\u0022name\u0022:\u0022Home\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/6b9b1bd68c084678ae32280e8b39e97d\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null},{\u0022name\u0022:\u0022google.com\u0022,\u0022target\u0022:null,\u0022udi\u0022:null,\u0022url\u0022:\u0022https://google.com\u0022,\u0022queryString\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.ColorPicker",
          "culture": null,
          "segment": null,
          "alias": "color",
          "value": "{\r\n  \u0022label\u0022: \u0022\u0022,\r\n  \u0022value\u0022: \u0022#4b97aa\u0022\r\n}"
        },
        {
          "editorAlias": "Umbraco.DropDown.Flexible",
          "culture": null,
          "segment": null,
          "alias": "dropdown",
          "value": "[\u0022option 1\u0022,\u0022option 3\u0022]"
        },
        {
          "editorAlias": "Umbraco.MultiNodeTreePicker",
          "culture": null,
          "segment": null,
          "alias": "contentPickerMulti",
          "value": "umb://document/6b9b1bd68c084678ae32280e8b39e97d"
        },
        {
          "editorAlias": "Umbraco.MarkdownEditor",
          "culture": null,
          "segment": null,
          "alias": "markDown",
          "value": "# This is markdown!"
        },
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "image",
          "value": "[{\u0022key\u0022:\u00228267ddf4-6cd2-4a0e-b7ad-9d8b83b9b884\u0022,\u0022mediaKey\u0022:\u0022a309d7bc-3c7b-4ad8-80ab-2b9e853a6c45\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        },
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "richText",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EHejsa\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        },
        {
          "editorAlias": "Umbraco.CheckBoxList",
          "culture": null,
          "segment": null,
          "alias": "checkboxList",
          "value": "[\u00221\u0022,\u00223\u0022]"
        },
        {
          "editorAlias": "Umbraco.RadioButtonList",
          "culture": null,
          "segment": null,
          "alias": "radioList",
          "value": "test"
        },
        {
          "editorAlias": "Umbraco.MultipleTextstring",
          "culture": null,
          "segment": null,
          "alias": "multiString",
          "value": "s1\ns2\ns3"
        }
      ]
    },
    {
      "contentTypeKey": "65b73923-6bcb-46c4-aa62-95bda6d38b3f",
      "udi": null,
      "key": "a6828dab-f42e-46ab-b3a2-c70636f9c22f",
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d0f2bc7d-3346-4c19-afb1-b597db71e2df",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a6828dab-f42e-46ab-b3a2-c70636f9c22f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [],
        "contentUdi": "umb://element/d0f2bc7d33464c19afb1b597db71e2df",
        "settingsUdi": null,
        "contentKey": "d0f2bc7d-3346-4c19-afb1-b597db71e2df",
        "settingsKey": null
      },
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "cde7cd73-bbfc-47fb-8b1d-388ea2f3dec7",
            "items": []
          },
          {
            "key": "755cb623-0d9d-4e5c-bdb1-75582c4819bb",
            "items": []
          }
        ],
        "contentUdi": "umb://element/a6828dabf42e46abb3a2c70636f9c22f",
        "settingsUdi": null,
        "contentKey": "a6828dab-f42e-46ab-b3a2-c70636f9c22f",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </grid>
    <rte>
      <Value><![CDATA[]]></Value>
    </rte>
  </Properties>
</Content>