<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b9b1bd6-8c08-4678-ae32-280e8b39e97d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-08-20T12:03:37</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="174bc210-6c35-43b9-ba39-a521fff7d3b1">contentPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bfc31bfd-0c56-47ea-b036-7c9b9165a6b1",
      "udi": "umb://element/d0f2bc7d33464c19afb1b597db71e2df",
      "textBox": "123",
      "tags": "[\u0022Test\u0022,\u0022Test 2\u0022]",
      "contentPicker": "umb://document/6b9b1bd68c084678ae32280e8b39e97d",
      "decimal": 1.04,
      "email": "admin@example.com",
      "toggle": 1,
      "eyeDrop": "#c82828",
      "multiUrl": "[{\u0022name\u0022:\u0022Home\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/6b9b1bd68c084678ae32280e8b39e97d\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null},{\u0022name\u0022:\u0022google.com\u0022,\u0022target\u0022:null,\u0022udi\u0022:null,\u0022url\u0022:\u0022https://google.com\u0022,\u0022queryString\u0022:null}]",
      "color": "{\r\n  \u0022label\u0022: \u0022\u0022,\r\n  \u0022value\u0022: \u0022#4b97aa\u0022\r\n}",
      "dropdown": "[\u0022option 1\u0022,\u0022option 3\u0022]",
      "contentPickerMulti": "umb://document/6b9b1bd68c084678ae32280e8b39e97d",
      "markDown": "# This is markdown!",
      "image": "[{\u0022key\u0022:\u00228267ddf4-6cd2-4a0e-b7ad-9d8b83b9b884\u0022,\u0022mediaKey\u0022:\u0022a309d7bc-3c7b-4ad8-80ab-2b9e853a6c45\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "richText": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EHejsa\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}",
      "checkboxList": "[\u00221\u0022,\u00223\u0022]",
      "radioList": "test",
      "multiString": "s1\ns2\ns3"
    },
    {
      "contentTypeKey": "65b73923-6bcb-46c4-aa62-95bda6d38b3f",
      "udi": "umb://element/a6828dabf42e46abb3a2c70636f9c22f"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d0f2bc7d33464c19afb1b597db71e2df",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/a6828dabf42e46abb3a2c70636f9c22f",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "cde7cd73-bbfc-47fb-8b1d-388ea2f3dec7",
            "items": []
          },
          {
            "key": "755cb623-0d9d-4e5c-bdb1-75582c4819bb",
            "items": []
          }
        ]
      }
    ]
  }
}]]></Value>
    </grid>
    <rte>
      <Value><![CDATA[]]></Value>
    </rte>
  </Properties>
</Content>