@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.ElementBlock>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<div>
    Row span: @Model.RowSpan
    Column span: @Model.ColumnSpan
    @if(Model.Content.Image != null)
    {
        <img src="@Model.Content.Image.Url()" alt="@Model.Content.Image.Name" />
    }
</div>