@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Paragraph>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<div>
    @Model.Content.Rte
</div>
<script>
    console.log("we got js execution too")
    alert("we got js execution too!")
</script>