@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<Paragraph, Settings>>

<div>
    @Model.Content.Text
    <hr />
    Settings: <br />
    @Model.Settings?.Color <br />
    @Model.Settings?.Slider
</div>
