@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<PickerThing>>
@{
    var test = @Model.Content.Picker;
}
<div>
    @foreach(var t in test)
    {
        @t.Name <br />
    }
</div>
